:root {
    --ecogreen: #538d43;
}

body {
    background-color: var(--ecogreen);
    color: white;
    font-family: "Noto Sans";
    font-weight: 200;
    height: 100vh;
    box-shadow: inset 0 0 4rem #0009;
}

.hero {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero>* {
    margin: 1rem;
}

img {
    max-width: 100%;
    padding: 1rem;
    box-shadow: 0 0 2rem 1rem #fff;
}

hr {
    border-color: #fff8;
}

.details {
    flex-grow: 2;
}

@media screen and (max-width: 991px) {
    .details {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .details {
        padding-left: 2rem;
    }
}